<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
			<form action="/products/add" method="get">
				<input type="text" name="Nombre del producto" placeholder="Nombre del producto">
				<input type="date" name="fecha" placeholder="Fecha de carga">
				<input type="text" name="descripcion" placeholder="Descripcion del producto">
				<a style="color: aliceblue;">Fotos del producto</a>
				<input type="file" name="Foto del perfil">
				<button type="submit" title="Agregar" name="Ingresar">Agregar Producto</button>
			</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>	
	<!-- /footer -->
</body>

</html>